<div class="card m-3">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">

    <div class="table-responsive">
      <table class="table mb-0">
        <thead>
          <tr>
            <th>Name</th>

            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let author of authors">
            <td>

              {{ author.name }}
            </td>
            <td>
              <button class="btn btn-outline-primary btn-sm"
                      [routerLink]="['/authors', author.id, 'edit']">
                Edit
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf="errorMessage"
     class="alert alert-danger">
  Error: {{ errorMessage }}
</div>
